# Telegram
TELEGRAM_BOT_TOKEN=bot_token_shu_yerga

# Baza
DB_HOST=localhost
DB_PORT=5432
DB_USER=booking_admin
DB_PASSWORD=bookingpass123
DB_NAME=booking_system

# API
PORT=5001
JWT_SECRET=jwt_maxfiy_kalit

# Production (ixtiyoriy)
NODE_ENV=production
CORS_ORIGIN=https://your-domain.com
